.stw_containeter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 5rem;
  // margin: 4rem 0;

  div:nth-child(1) {
    width: 55%;

    img {
      width: 100%;
    }
  }

  div:nth-child(2) {
    width: 45%;

    h2 {
      font-size: 35px;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 17px;
    }

    ul {
        list-style-type: decimal;
        margin-left: 2rem;

        li {
            margin-bottom: .7rem;
        }
    }

    p {
      color: #696969;
      font-size: 14px;
    //   margin-bottom: 1rem;
      font-weight: 500;
      line-height: 1.7;
    }
  }
}
