.hero-section {
  margin-top: 3rem;

  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 2rem auto;

    .hero-left {
      width: 45%;

      .text-cont {
        margin-top: 20px;
        // margin-left: 3rem;

        h2 {
          color: #052639;
          font-weight: 500;
          font-size: 40px;
        }

        p {
          color: #696969;
          font-size: 14px;
          margin-top: 1.5rem;
          font-weight: 500;
          line-height: 1.7;
        }

        .btn-cont {
          margin-top: 1.5rem;
          display: flex;
          align-items: center;
          gap: 20px;

          button:nth-child(2) {
            background: transparent;
            outline: 0;
            border: 0;
            color: #c00000;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .hero-right {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    @media (max-width: 990px) {
      flex-direction: column;
      gap: 5rem;

      .hero-left,
      .hero-right {
        width: 100%;
      }

      .hero-left {
        text-align: center;

        .text-cont {
          h2 {
            font-size: 45px;
          }
        }

        .btn-cont {
          justify-content: center;
        }
      }
    }

    @media (max-width: 570px) {
      .hero-left {
        .text-cont {
          h2 {
            font-size: 35px;
          }
        }
      }
      
    }
  }

  .hero-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6rem 0;
    // gap: 4rem;
    width: 100%;

    img {
      width: 70%;
      margin-right: 3rem;
    }
  }
}
