.system_container {
  margin: 0 0 0 0;
  background: #c00000;
  padding: 4rem 0;

  .container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .val_head {
    h2 {
      color: #fff;
      font-size: 20px;
      margin-bottom: 1rem;
    }

    p {
      color: #fff;
    }
  }

  .val_cont {
    display: flex;
    align-items: flex-start;
    margin-top: 3rem;
    // flex-direction: row-reverse;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 370px;

      img {
        width: 20px;
      }

      h5 {
        font-size: 15px;
        color: #fff;
      }

      p {
        font-size: 13px;
        color: #fff;
      }
    }
  }
}
