.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 830px) {
    flex-direction: column;
  }

  div:nth-child(1) {
    width: 45%;

    @media (max-width: 830px) {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  div:nth-child(2) {
    width: 50%;

    @media (max-width: 830px) {
      width: 100%;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      div {
        width: 100%;
      }

      input {
        width: 100%;
      }

      button {
        background-color: #c00000;
        border-radius: 30px;
        padding: 0.9em 1.2em;
        transition: all ease-in-out 0.2s;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        gap: 5px;
        color: #fff;
        cursor: pointer;
        font-weight: 500;
        text-decoration: none;
        width: 150px;

        &:hover {
          background-color: #e12e2e;
        }
      }
    }
  }
}
