.header_cont.active {
  background-color: #ffe1e1;
  backdrop-filter: blur(25px) saturate(180%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.header-container {
  padding: 15px;
  width: 95%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    img {
      width: 200px;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    a {
      font-size: 13px;
      color: #052639;
      transition: all 0.3s ease-in-out;
    }

    a:hover {
      color: #0179bf;
    }
  }
}
