.general_content_container {
  position: relative;
  width: 100%;
  // background-color: #181a42;

  .background_square {
    position: absolute;
    opacity: 0.7;
    animation: move-rtl 25s linear infinite;

    // @keyframes move-rtl {
    //   0% {
    //     transform: translateX(-10px);
    //   }
    //   50% {
    //     transform: translateX(10px);
    //   }
    //   100% {
    //     transform: translateX(-10px);
    //   }
    // }
  }

  .square1 {
    top: 0;
    right: 80px;
    width: 200px;
    height: 200px;
  }

  .square2 {
    top: 300px;
    left: 0;
    width: 100px;
    height: 100px;
  }

  .square4 {
    bottom: 400px;
    left: 0;
    width: 150px;
    height: 150px;
  }

  .square3 {
    bottom: 900px;
    right: 0;
    width: 150px;
    height: 150px;
  }

  .square5 {
    top: 800px;
    right: 0;
    width: 100px;
    height: 100px;
  }

  .square6 {
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
  }
}
