@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Inter", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: #fafafa;
}

.container {
  max-width: 1400px;
  width: 95%;
  margin: 4rem auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #052639;
  font-size: 25px;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #696969;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
}
